* {
    font-family:"open sans";
}

$orange: #e2922a;
$orange-darker: #ce8321;
$gray: #c9c9c9;
$gray-darker: #c9c9c9c5;
:root {
    --columnsize: 4;
   
    --gameplan-width: 100px;
    --gameplan-height: 100px;
}

#plan{
    margin-top: 20px;
    position: relative;
    background-color: $gray;
    padding: 10px; 
    border-radius: 10px;
    
    width: calc(var(--columnsize) * var(--gameplan-width));
    height: calc(var(--columnsize) * var(--gameplan-height));
}

#gameplan{
    position: relative;
    background-color: $gray;
}

.blocks{
    position: absolute;

    width: calc(var(--gameplan-width) - 4px);
    height: calc(var(--gameplan-height) - 4px);
    border-radius: 7px;

    border: 2px solid $gray;
    background-color:$orange;
 
    font-size: 32px;
    text-align:center;
    cursor:pointer;

    transition: 0.1s;
}

#main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-container{
    display: flex;
    justify-content: space-between;
}

#input {
    width: 98px;
    font-size:18px;
    border: 2px solid $gray;
    border-radius: 7px;
}

#shuffle-button {
    width: 45%;
    border-radius: 7px;
    font-size: 18px;
    border: none;
    background-color:  $gray;
    cursor: pointer;
}

#shuffle-button:hover{
   background-color : $gray-darker;  
}

.blocks:hover{
    background: $orange-darker;
}


.buttons {
    background-color: $orange;
    min-height: 10vh;
    min-width: 10vh;
    border-radius: 7px;
    cursor: pointer;
    font-size: 29px;
    font-weight: bold;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    
    padding-top: 300px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    font-size: 20px;
    border-radius: 10px;
    transition: 1s;
  } 
   
  /* The Close Button */
  .close {
    color: #aaaaaa; 
    float: right;
    font-size: 28px;
    font-weight: bold;
  } 
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  @media only screen and (min-width: 812px) {
    .buttons {
        min-height: 12vh;
        min-width: 12vh; 
        font-size: 29px;
    }
}